	html
{
	background:url(bg.png) repeat
}
	body
{
	color:#666;
	min-width:960px
}
	h1
{
	color:#333
}
	h2
{
	color:#0084b4
}
	a:link,a:visited
{
	color:#0084b4;
	text-decoration:none
}
	a:hover
{
	text-decoration:underline
}
	#wrapper
{
	position:relative;
	width:960px;
	margin:0 auto;
	padding:20px 0
}
	#main
{
	height:400px;
	text-align:center
}
	#main,div.header,li.repo
{
	background:#fff;
	background:rgba(255,255,255,.7);
	-moz-box-shadow:0 0 5px 1px rgba(0,0,0,.1);
	-webkit-box-shadow:0 0 5px 1px rgba(0,0,0,.1);
	box-shadow:0 0 5px 1px rgba(0,0,0,.1);
	margin-bottom:20px
}
	#main h1
{
	margin:30px 0
}
	#main h1,#main p
{
	margin-left:15px;
	margin-right:15px
}
	#main p
{
	font-size:11px;
	line-height:2
}
	#logo
{
	width:190px;
	height:64px;
	margin:15px 0 0 15px;
	background:url(logo.png);
	text-indent:-99999px
}
	#logo h1
{
	margin:0
}
	div.header
{
	height:130px
}
	div.header h1,div.header p
{
	margin:10px 15px 0
}
	div.header h1
{
	margin-bottom:10px
}
	#num-followers,#num-repos
{
	font-size:14px;
	font-weight:700;
	color:#0084b4;
	line-height:15px
}
	#statistics a:link,#statistics a:visited
{
	color:inherit
}
	#statistics p.email
{
	margin-top:6px;
	font-size:11px
}
	#recently-updated h1 a
{
	font-weight:400;
	font-size:11px
}
	#recently-updated-repos
{
	margin-left:15px
}
	#recently-updated-repos li
{
	line-height:1.5
}
	#recently-updated-repos li span
{
	display:inline-block;
	padding:0 1px;
	font-size:11px
}
	#recently-updated-repos li span.name
{
	padding:0 6px 0 0;
	font-size:13px
}
	#recently-updated-repos li span.forks a,#recently-updated-repos li span.time a,#recently-updated-repos li span.watchers a
{
	color:#999
}
	li.repo
{
	height:250px
}
	li.repo>a
{
	display:block;
	width:100%;
	height:100%;
	overflow:hidden;
	text-decoration:none;
	color:inherit
}
	li.repo a:hover
{
	background:#efefef;
	background:rgba(0,0,0,.05)
}
	li.repo h2,li.repo h3,li.repo p
{
	margin:10px 15px
}
	li.repo h2
{
	margin-bottom:2px;
	max-width:160px;
	overflow:hidden
}
	li.repo h3
{
	font-size:11px;
	margin-top:2px;
	margin-bottom:15px;
	color:#999
}
.repo:after
{
	content:'';
	position:absolute;
	right:0;
	top:0;
	width:0;
	height:0;
	border-bottom:50px solid transparent;
	border-left:50px solid transparent;
	border-right:50px solid #0080b0;
	pointer-events:none
}
.repo.javascript:after
{
	border-right-color:#333
}
.repo.scala:after
{
	border-right-color:#7ac9de
}
.repo.ruby:after
{
	border-right-color:#c10
}
.repo.java:after
{
	border-right-color:#cc8300
}
.repo.python:after
{
	border-right-color:#6aad2d
}
.repo.php:after
{
	border-right-color:#2980b9
}
.repo.visual.basic:after
{
	border-right-color:#8e44ad
}
.repo.css:after
{
	border-right-color:#e67e22
}
.grid-1,.grid-2,.grid-3,.grid-4
{
	display:inline;
	float:left;
	position:relative;
	margin-left:10px;
	margin-right:10px
}
.alpha
{
	margin-left:0
}
.omega
{
	margin-right:0
}
.grid .grid-1
{
	width:220px
}
.grid .grid-2
{
	width:460px
}
.grid .grid-3
{
	width:700px
}
.grid .grid-4
{
	width:940px
}
.clearfix
{
	*zoom:1
}
.clearfix:after,.clearfix:before
{
	content:"";
	display:table
}
.clearfix:after
{
	clear:both
}
	a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video
{
	margin:0;
	padding:0;
	border:0;
	font:inherit;
	vertical-align:baseline
}
	article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section
{
	display:block
}
	body
{
	line-height:1
}
	ol,ul
{
	list-style:none
}
	blockquote,q
{
	quotes:none
}
	blockquote:after,blockquote:before,q:after,q:before
{
	content:'';
	content:none
}
	table
{
	border-collapse:collapse;
	border-spacing:0
}
	nav
{
	margin:0;
	padding:0;
	width:100%;
	height:50px;
	background:#2980b9
}
	ul.menu
{
	margin:0 auto;
	padding:0;
	padding-top:15px;
	padding-left:150px
}
	li.menu
{
	color:#fff;
	padding:19px 15px;
	margin-left:0;
	display:inline;
	font-size:15px
}
	li.menu:hover
{
	background:#fff;
	color:#2980b9;
	transition:all .6s
}
	a.menu
{
	color:inherit;
	text-decoration:none
}
	li.active
{
	background:#fff;
	color:#2980b9
}

