<main class="content-wrap animate" role="main">

	{{ content }}

        {% if page.title == site.title %}
        <h2 id="depots">Dépôts</h2>
        <ol id="repos">
         <li>
           <a href="http://cedced19.github.io/soft/home/" class="name-repo">Home C</a>
           <p>Une page d'acceuil sans pub.</p>
           <span class="language">JavaScript</span>
         </li>
         <li>
           <a href="http://cedced19.github.io/soft/proto/" class="name-repo">Prototype</a>
           <p>Une page pour créer des petites page HTML</p>
           <span class="language">JavaScript</span>
          </li>
         </ol>
         {% endif %}
</main>
