<hr class="rule animate">
<footer class="footer-wrap animate" role="complementary">
	<p class="footer">
	   Cedced19 - <a href="http://cedced19.github.io/license/">MIT</a>
            	{% if page.class == 'post' %}
                        {% if page.title != 'Blog' %}
                            <br><a href="http://twitter.com/share?text=&ldquo;{{ page.title }}&rdquo; by @cedced19 :">Partager sur Twitter</a></div>
        	             {% endif %}
                     {% endif %}
        </p>
</footer>
