<footer class="footer-wrap" role="complementary">
	<p>
	   License <a href="http://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA</a>
	</p>
            {% if page.class == 'post' %}
            	{% if page.meta-title != 'Blog'%}
	            <p>
	                <a href="http://twitter.com/share?text=&ldquo;{{ page.title }}&rdquo; by @cedced19 :">Partager sur Twitter</a><br>
	            </p>
	        {% endif %}
            {% endif %}
            {% if page.class == 'home' %}
            	{% if page.meta-title != 'Cedced19'%}
	            <p>
	                <a href="http://twitter.com/share?text=&ldquo;{{ page.title }}&rdquo; by @cedced19 :">Partager sur Twitter</a><br>i
	            </p>
	        {% endif %}
            {% endif %}
</footer>
