<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.meta-title }}</title>
        <meta name="viewport" content="width=device-width">
        <script type="text/javascript" src="/scripts/qxu1ojr.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
        <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon" />
        <link rel="icon" href="/img/favicon.ico" type="image/x-icon" />
        <link rel="stylesheet" href="/css/style.css">
        
        <meta name="twitter:cars" content="summary" />
        <meta name="twitter:title" content="{{ page.meta-title }}" />
        <meta name="twitter:image" content="http://cedced19.github.io/profile.png" />
        <meta name="twitter:site" content="@cedced19" />
        <meta name="twitter:author" content="@cedced19" />
        
        <meta property="og:type" content="website" />
        <meta property="og:title" content="{{ page.meta-title }}" />
        <meta property="og:image" content="http://cedced19.github.io/profile.png" />
        <meta property="og:language" content="fr_FR">
        <meta property="og:url" content="{{ site.url }}" />
        
        <link href="https://plus.google.com/104855167193751168501/" rel="publisher" />
        
        <meta name="msvalidate.01" content="7AA9997055DFFA5FA75B150DB285F647" />
        <meta name="google-site-verification" content="daG8-WfmzTnxEOZ0gvyKhFVPyqGcp_MuANWkyM8THK8" />
    </head>
    <body{% if page.class %} class="{{ page.class }}"{% endif %}>

        {% if page.class != 'post' %}
            {% include header.html %}
        {% endif %}

        {% if page.class != 'fourOhfour' %}
            {% include content.html %}
            {% include footer.html %}
        {% endif %}

        {% include scripts.html %}
    </body>
</html>
