<!DOCTYPE html>
<html>
    <head>
        {% include head.html %}
    </head>
    <body{% if page.class %} class="{{ page.class }}"{% endif %}>

        {% if page.class != "post" %}
            {% include header.html %}
        {% else %}
            {% include headerpost.html %}
        {% endif %}

        {% if page.class != 'fourOhfour' %}
            {% if page.class != 'soon' %}
                {% include content.html %}
                {% include footer.html %}
            {% endif %}
        {% endif %}

        {% include scripts.html %}
    </body>
</html>
