---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <span class="post-meta">
      {% assign m = page.date | date: "%-m" | minus: 1 %}
      {% if site.active_lang == "fr" %}
        {{ page.date | date: "%-d" }}
        {{ site.data.fr.months[m] }}
        {{ page.date | date: "%Y" }}
      {% endif %}
      {% if site.active_lang == "en" %}
        {{ site.data.en.months[m] }}
        {{ page.date | date: "%-d" }},
        {{ page.date | date: "%Y" }}
      {% endif %}
      </span>
      {% if page.author %}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>
      {% endif %}</p>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

  {% if site.disqus.shortname %}
    {% include disqus_comments.html %}
  {% endif %}
</article>
