<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title>Calculs</title>
        <meta name="viewport" content="width=device-width">
        <link href="//cedced19.github.io/img/favicon.ico" rel="shortcut icon" type="image/x-icon">
        <!-- build:css /styles/calculs.min.css -->
        <link rel="stylesheet" href="../../styles/calculs.css">
        <!-- endbuild -->
    </head>
    <body ng-app="Calculs" ng-controller="CalculsCtrl">

        <main class="content-warp">

            <h1>Calculs</h1>
            <section>
                <h2>Data:</h2>
                <p>Number of hours (in H)</p>
                <input type="text" ng-model="hours">
                <p>Number of watt-hour (in Wh)</p>
                <input type="text" ng-model="watt">
                <p>Cost of the light bulb (in €)</p>
                <input type="text" ng-model="costBulb">
                <p>Lifetime (in thousand years)</p>
                <input type="text" ng-model="lifetime">
                <p>Cost of the kWh (in €)</p>
                <input type="text" ng-model="costKwh">
            </section>

            <h2>Cost of consumption:</h2>
            <p>{{ ((( watt * hours) / 1000) * costKwh ) }}</p>

            <h2>Cost of running:</h2>
            <p>{{ ((( watt * hours) / 1000) * costKwh ) + ((hours / lifetime) * costBulb) }}</p>

            <section>
                <h2>How this work ?</h2>
                <h3>Cost of consumption:</h3>
                <pre>
                        ( {{watt}} * {{hours}}) / 1000) * {{costKwh}}
                </pre>
                <h3>Cost of running:</h3>
                <pre>
                        ((( {{watt}} * {{hours}}) / 1000) * {{costKwh}} ) + (({{hours}} / {{lifetime}}) * {{costBulb}})
                </pre>
                <p class="warning">I had to do a calculs for a excel grid.</p>
            </section>
        </main>

            <!-- build:js /scripts/calculs.min.js -->
            <script type="text/javascript" src="../../scripts/angular.min.js"></script>
            <script type="text/javascript" src="../../scripts/calculs.js"></script>
            <!-- endbuild -->
    </body>
</html>
