<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title>Calculs</title>
        <meta name="viewport" content="width=device-width">
        <link href="//cedced19.github.io/img/favicon.ico" rel="shortcut icon" type="image/x-icon">
        <meta name="author" content="Cedced19">
        <meta name="description" content="A page to calcul LED cost.">
        <!-- build:css /styles/styles.css -->
        <link rel="stylesheet" href="../../styles/main.css">
        <!-- endbuild -->
    </head>
    <body ng-app="Calculs" ng-controller="CalculsCtrl">

        <main class="content-wrap animate" role="main">
            <h1>Calculs</h1>

            <h2>Data:</h2>
            <p>Number of hours (in H)</p>
            <input type="text" ng-model="hours">
            <p>Number of watt-hour (in Wh)</p>
            <input type="text" ng-model="watt">
            <p>Cost of the light bulb (in €)</p>
            <input type="text" ng-model="costBulb">
            <p>Lifetime (in thousand hours)</p>
            <input type="text" ng-model="lifetime">
            <p>Cost of the kWh (in €)</p>
            <input type="text" ng-model="costKwh">

            <h2>Cost of consumption:</h2>
            <p>{{ ((( watt * hours) / 1000) * costKwh ) }}</p>

            <h2>Cost of running:</h2>
            <p>{{ ((( watt * hours) / 1000) * costKwh ) + ((hours / lifetime) * costBulb) }}</p>

            <h2>How this work ?</h2>
            <p>Cost of consumption:</p>
            <p>( {{watt}} * {{hours}}) / 1000) * {{costKwh}}</p>
            <p>Cost of running:</p>
            <p>((( {{watt}} * {{hours}}) / 1000) * {{costKwh}} ) + (({{hours}} / {{lifetime}}) * {{costBulb}})</p>

        </main>
        <hr class="rule animate">
        <footer class="footer-wrap animate" role="complementary">
            <p class="footer">Cedced19 - <a href="http://cedced19.github.io/license/">MIT</a></p>
        </footer>

            <!-- build:js /scripts/calculs.min.js -->
            <script type="text/javascript" src="../../scripts/angular.min.js"></script>
            <script type="text/javascript" src="../../scripts/calculs.js"></script>
            <!-- endbuild -->
    </body>
</html>
